.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #0b0f30;
  .rigthElements {
    .date {
      font-weight: 500;

      line-height: 22px;
    }
    .more {
      line-height: 20px;
      margin-top: 6px;
      color: #496e91;
      cursor: pointer;
      display: flex;
      align-items: center;
      svg {
        transition: 0.2s all ease-in-out;
      }
      &:hover {
        svg {
          transform: translateX(4px);
        }
      }
    }
  }
  .basicInfo {
    .info {
      display: flex;
      align-items: center;
      column-gap: 12px;
      h2 {
        color: #496e91;
      }
      .comment {
        display: flex;
        align-items: center;
        column-gap: 7px;
      }
    }
    .author {
      color: #f8ca5f;

      line-height: 22px;
      font-weight: 500;
      margin-top: 4px;
      span {
        color: #92b6d9;
      }
    }
  }
}
